{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Senior Design</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/requestAdd">Add Request</a></li>
                <li><a href="/requestList">List of Exam Requests</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Welcome!</h1>
<!-- Example of form implementation -->
<form class="form" method="post" role="form">
  <!-- Get secret key for CSRF auth -->
  {{ form.hidden_tag() }}
  <!-- Show validation errors, if any -->
  {{ wtf.form_errors(form, hiddens="only") }}
  <!-- Input field to enter student name -->
  {{ wtf.form_field(form.searchStudents, placeholder="Search by Student Name (Case Sensitive)", class="form-control md-5") }}
  <!-- Submit button -->
  {{ wtf.form_field(form.submit, class="btn btn-lg btn-info btn-block") }}
</form>
<hr/>
<!-- Iterate through each item in 'results' from views.py -->
{% for result in results %}
<div class="text-center">
	<!-- For each student in result, show info -->
	<h3> {{ result.student_name }} </h3>
    <h4> STUDENT_ID: {{ result.student_id }} </h4>
    <h4> STUDENT_NETID: {{ result.student_netid }} </h4>
    <h4> COURSE_ID: {{ result.course_id }} </h4>
    <h4> COURSE_NAME: {{ result.course_name }} </h4>
    <h4> EXAM_TYPE: {{ result.exam_type }} </h4>
    <h4> EXAM_FORMAT: {{ result.exam_format }} </h4>
    <h4> EXAM_TIME: {{ result.exam_time }} </h4>
    <h4> EXAM_CSD_TIME: {{ result.exam_csd_time }} </h4>
    <h4> CSD_CAMPUS: {{ result.csd_campus }} </h4>
    <h4> CSD_BUILDING: {{ result.csd_building }} </h4>
    <h4> CSD_ROOM: {{ result.csd_room }} </h4>
    <h4> CSD_SEAT: {{ result.csd_seat }} </h4>
    <h4> INSTRUCTOR_NETID: {{ result.instructor_netid }} </h4>
    <h4> INSTRUCTOR_NAME: {{ result.instructor_name }} </h4>
    <h4> INSTRUCTOR_PHONE: {{ result.instructor_phone }} </h4>
    <h4> INSTRUCTOR_EMAIL: {{ result.instructor_email }} </h4>
    <h4> MATERIAL: {{ result.material }} </h4>
    <h4> ACCOMMODATIONS: {{ result.accommodations }} </h4>
    <h4> INSTRUCTOR_NOTES: {{ result.instructor_notes }} </h4>
    <hr/>
</div>
{% endfor %}
{% endblock %}