{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cover Sheet</th>
                <th scope="col">Peoplesoft ID #</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student Net ID</th>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Exam Type</th>
                <th scope="col">Exam Format</th>
                <th scope="col">Exam Time</th>
                <th scope="col">Exam CSD Time</th>
                <th scope="col">CSD Campus</th>
                <th scope="col">CSD Building</th>
                <th scope="col">CSD Room</th>
                <th scope="col">CSD Seat</th>
                <th scope="col">Instructor Net ID</th>
                <th scope="col">Instructor Name</th>
                <th scope="col">Instructor Phone</th>
                <th scope="col">Instructor Email</th>
                <th scope="col">Material</th>
                <th scope="col">Accommodations</th>
                <th scope="col">Instructor Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <th scope="row">
                    <form action={{'/print/'+row.student_netid}} method="post">
                        <button class="btn btn-info" type="submit">Print</button>
                    </form>
                </th>
                <td>{{row["student_id"]}}</td>
                <td>{{row["student_netid"]}}</td>
                <td>{{row["student_name"]}}</td>
                <td>{{row["course_id"]}}</td>
                <td>{{row["course_name"]}}</td>
                <td>{{row["exam_type"]}}</td>
                <td>{{row["exam_format"]}}</td>
                <td>{{row["exam_time"]}}</td>
                <td>{{row["exam_csd_time"]}}</td>
                <td>{{row["csd_campus"]}}</td>
                <td>{{row["csd_building"]}}</td>
                <td>{{row["csd_room"]}}</td>
                <td>{{row["csd_seat"]}}</td>
                <td>{{row["instructor_netid"]}}</td>
                <td>{{row["instructor_name"]}}</td>
                <td>{{row["instructor_phone"]}}</td>
                <td>{{row["instructor_email"]}}</td>
                <td>{{row["material"]}}</td>
                <td>{{row["accommodations"]}}</td>
                <td>{{row["instructor_notes"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}