{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Senior Design</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/requestAdd">Add Requests</a></li>
                <li><a href="/requestList">List of Exam Requests</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Add Request</h1>
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  {{ wtf.form_field(form.sname, placeholder="Enter Student ID (Case Sensitive)", class="form-control md-5") }}
  {{ wtf.form_field(form.sid, placeholder="Enter Student Name (Case Sensitive)", class="form-control md-5") }}
  {{ wtf.form_field(form.netid, placeholder="Enter Student NetID(Case Sensitive)", class="form-control md-5") }}
  {{ wtf.form_field(form.cid, placeholder="Enter Course ID (Case Sensitive)", class="form-control md-5") }}
  {{ wtf.form_field(form.cname, placeholder="Enter Course Name (Case Sensitive)", class="form-control md-5") }}
  {{ wtf.form_field(form.submit, class="btn btn-lg btn-info btn-block") }}
</form>
<div class="text-center">
  <h4>{{ msg }}</h4>
</div>
{% endblock %}