{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block content %}
<h1>Add Request</h1>
<h4>Exam Date:</h4>
<form class="verticalform">
  <input type="text" class="form-control dp" />
</form>

<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  {{ wtf.form_field(form.student_id, placeholder="Enter Student PeopleSoft Number (e.g. 1234567)", class="form-control md-5") }}
  {{ wtf.form_field(form.student_netid, placeholder="Enter Student Net ID (e.g. abc12345)", class="form-control md-5") }}
  {{ wtf.form_field(form.student_name, placeholder="Enter Student Name (e.g. John Smith)", class="form-control md-5") }}
  {{ wtf.form_field(form.course_id, placeholder="Enter Course ID (e.g. CSE 2102)", class="form-control md-5") }}
  {{ wtf.form_field(form.course_name, placeholder="Enter Course Name (e.g. Intro to Software Engineering)", class="form-control md-5") }}
  {{ wtf.form_field(form.exam_type, class="form-control md-5") }}
  {{ wtf.form_field(form.exam_format, class="form-control md-5") }}
  <input type="text" class="form-control dp" id="datetest"/>
  {{ wtf.form_field(form.date, class="form-control dp") }}
  {{ wtf.form_field(form.exam_time, placeholder="Enter Original Time of Exam (e.g. 2018-01-25 10:10)", class="form-control md-5") }}
  {{ wtf.form_field(form.exam_csd_time, placeholder="Enter CSD Time of Exam (e.g. 2018-01-25 13:10)", class="form-control md-5") }}
  {{ wtf.form_field(form.csd_campus, class="form-control md-5") }}
  {{ wtf.form_field(form.csd_building, placeholder="Enter CSD Exam Building (e.g. Mchugh Hall)", class="form-control md-5") }}
  {{ wtf.form_field(form.csd_room, placeholder="Enter CSD Exam Room (e.g. 102)", class="form-control md-5") }}
  {{ wtf.form_field(form.csd_seat, placeholder="Enter CSD Exam Seat Number (e.g. 10)", class="form-control md-5") }}
  {{ wtf.form_field(form.instructor_netid, placeholder="Enter Instructor Net ID (e.g. abc12345)", class="form-control md-5") }}
  {{ wtf.form_field(form.instructor_name, placeholder="Enter Instructor Name (e.g. John Smith)", class="form-control md-5") }}
  {{ wtf.form_field(form.instructor_phone, placeholder="-OPTIONAL- Enter Instructor Phone (e.g. 8603334444)", class="form-control md-5") }}
  {{ wtf.form_field(form.instructor_email, placeholder="-OPTIONAL- Enter Instructor Email (e.g. john.smith@uconn.edu)", class="form-control md-5") }}
  {{ wtf.form_field(form.material, rows ="5", placeholder="-OPTIONAL- Enter Exam Material (e.g. Pencils, Calculators, etc)", class="form-control md-5") }}
  {{ wtf.form_field(form.accommodations, rows="5", placeholder="Enter Accommodations (e.g. 2 hour extension)", class="form-control md-5") }}
  {{ wtf.form_field(form.instructor_notes, rows="5", placeholder="-OPTIONAL- Enter Instructor Notes (e.g. TA must monitor exam at all times)", class="form-control md-5") }}
  {{ wtf.form_field(form.submit, class="btn btn-lg btn-info btn-block") }}
</form>
<div class="text-center">
  <h4>{{ msg }}</h4>
</div>
{% endblock %}